In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
##setting all variables
##Total_schools
total_schools = len(school_data_complete['school_name'].unique()) 
##total_students
total_students = len(school_data_complete['Student ID'].unique())
##print(total_students)
##print(total_schools)
##total_budget
total_budget = school_data_complete['budget'].unique()
total_budget_sum = total_budget.sum()
##print(total_budget_sum)
##maths average
average_math = round(school_data_complete['maths_score'].mean(),6)
##print(average_math)
##read average
average_reading = round(school_data_complete['reading_score'].mean(),6)
##print(average_reading)
#% maths
math_score = school_data_complete['maths_score'].tolist()
passing_score = 0
total_students=len(math_score)

for score in math_score:
    if score >=50:
        passing_score = passing_score+1
passing_math_percentgae = round((passing_score/total_students)*100,6)
##print(passing_math_percentgae)

#reading score
read_score = school_data_complete['reading_score'].tolist()
passing_score = 0
total_students=len(read_score)

for score in read_score:
    if score >=50:
        passing_score = passing_score+1
passing_reading_percentgae = round((passing_score/total_students)*100,6)

##print(passing_reading_percentgae)

#overall percentage
passing_math = school_data_complete['maths_score'] >= 50  # Example passing criteria for math
passing_reading = school_data_complete['reading_score'] >= 50  # Example passing criteria for reading


overall_passing = passing_math & passing_reading  
overall_passing_percentage = round((overall_passing.sum() / len(school_data_complete)) * 100,6)

##print(overall_passing_percentage)

In [3]:
##LOCAL GOVERNMENT AREA SUMMARY
area_summary=pd.DataFrame({
    "Total Schools":[total_schools],
    "Total Student":[total_students],
     "Total Budget": ["${:,.2f}".format(total_budget_sum)],
    "Average Math Score":[average_math],
    "Average Reading Score":[average_reading],
    "% Passing Maths":[passing_math_percentgae],
    "% Passing Reading":[passing_reading_percentgae],
    "% Overall Passing":[overall_passing_percentage]
})


area_summary

,Total Schools,Total Student,Total Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [4]:
##setting all variables
##school_count
school_count= len(school_data_complete["school_name"].unique())

#School Name
school_types=school_data.set_index(["school_name"])["type"]
school_types.head()

#Total Students in each school
student_per_school=school_data_complete["school_name"].value_counts()
student_per_school

#Budget
school_budget=school_data_complete.groupby(["school_name"])["budget"].mean()
school_budget.head()

#Per Student Budget
per_student_budget=school_budget/student_per_school
per_student_budget.head()

#Average Math Score per school
average_math_perSchool=school_data_complete.groupby(["school_name"])["maths_score"].mean()
average_math_perSchool.head()

#Average Reading Score per school
average_reading_perSchool= school_data_complete.groupby(["school_name"])["reading_score"].mean()
average_reading_perSchool.head()



#% Passing Math per school for % passing math
passing_math_score_perSchool=school_data_complete[school_data_complete["maths_score"]>=50]
passing_math_score_perSchool

#% passing math
group_math_school=passing_math_score_perSchool["school_name"].value_counts() 
group_math_school.head()
percent_math=(group_math_school/student_per_school)*100
percent_math

# % Passing Reading per school for % passing reading
read_scor=school_data_complete[school_data_complete["reading_score"]>=50]
by_read_PerSchool= read_scor["school_name"].value_counts()
by_read_PerSchool.head()
percent_read=(by_read_PerSchool/student_per_school)*100
percent_read

# % Overall Passing Rate
passing_math = school_data_complete['maths_score'] >= 50  
passing_reading = school_data_complete['reading_score'] >= 50  
passing_mathsandreading = school_data_complete[(school_data_complete['maths_score'] >= 50)  & (school_data_complete['reading_score'] >= 50)]
overall_Score=passing_mathsandreading.groupby(["school_name"]).size()
overall=overall_Score/student_per_school*100

In [5]:
per_school_summary_df = pd.DataFrame({"School Type":school_types, 
                                 "Total Students":student_per_school, 
                                 "Total School Budget":school_budget,
                                 "Per Student Budget":per_student_budget,
                                 "Average Math Score" :average_math_perSchool,
                                 "Average Reading Score":average_reading_perSchool,
                                 "% Passing Math":percent_math, 
                                 "% Passing Reading":percent_read,
                                 "% Overall Passing Rate":overall
                                 })

per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df.head(15)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,Government,4976,"$3,124,928.00",628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",583.0,72.047222,70.969444,91.777778,86.666667,79.722222

* Sort and display the top five performing schools by % overall passing.

In [6]:
top_schools = per_school_summary_df.sort_values(by='% Overall Passing Rate', ascending=False)

# Step 2: Get the top five performing schools
top_performing_by_pr_df = top_schools.head(5)

top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Griffin High School,Independent,1468,"$917,500.00",625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",583.0,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",637.0,72.047762,70.935984,90.797699,87.396849,79.419855

* Sort and display the five worst-performing schools by % overall passing.

In [7]:
bottom_schools = per_school_summary_df.sort_values(by='% Overall Passing Rate', ascending=True)

# Step 2: Get the top five performing schools
five_worst_performing = bottom_schools.head(5)

bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Hernandez High School,Government,4635,"$3,022,020.00",652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",644.0,69.091274,69.572472,82.438846,82.219788,67.469880

In [11]:
# Convert the 'year' column to numeric data type 
school_data_complete['year'] = pd.to_numeric(school_data_complete['year'])

# Initialize a dictionary to store the average math scores for each year
yearly_math_scores = {}

# Loop through unique years
for year in school_data_complete['year'].unique():
  
    year_data = school_data_complete[school_data_complete['year'] == year]
    
    # Calculate the mean math score for each school in the current year
    year_math_scores = year_data.groupby('school_name')['maths_score'].mean()
    
    # Store the average math scores for the current year in the dictionary
    yearly_math_scores[year] = year_math_scores


math_scores_per_year = pd.DataFrame(yearly_math_scores)

math_scores_per_year = math_scores_per_year[[
                            9, 10, 11, 12  
                                            ]]

math_scores_per_year.columns = ["Year 9", "Year 10", "Year 11", "Year 12"]


math_scores_per_year.index.name = ' '

# Display the DataFrame
math_scores_per_year.head(15)

#yr9 -

                          Year 9    Year 10    Year 11    Year 12

Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

In [14]:
school_data_complete['year'] = pd.to_numeric(school_data_complete['year'])

yearly_reading_scores = {}

# Loop through unique years
for year in school_data_complete['year'].unique():

    year_data = school_data_complete[school_data_complete['year'] == year]
    
    # Calculate the mean reading score for each school in the current year
    year_read_scores = year_data.groupby('school_name')['reading_score'].mean()
    
    # Store the average reading scores for the current year in the dictionary
    yearly_reading_scores[year] = year_read_scores

# Create a DataFrame from the dictionary
reading_scores_per_year = pd.DataFrame(yearly_reading_scores)

reading_scores_per_year = reading_scores_per_year[[
                                         9, 10, 11, 12  
                                                 ]]


reading_scores_per_year.columns = ["Year 9", "Year 10", "Year 11", "Year 12"]

reading_scores_per_year.index.name = ' '

reading_scores_per_year.head(15)

                          Year 9    Year 10    Year 11    Year 12

Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138